<h1>New product</h1>

<div class="form-container">

  <% if @product.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(url: admin_products_path, model: @product, method: :post) do |form| %>
    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :code, style: "display: block" %>
      <%= form.text_field :code %>
    </div>

    <div>
      <%= form.label :price, style: "display: block" %>
      <%= form.number_field :price %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>

  <br>

  <div>
    <%= link_to "Back to products", admin_products_path %>
  </div>
</div>
