<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <% if user_signed_in? %>
        <div class="menu-bar">
            <% if current_user.admin? %>
              <!-- Admin Menu -->
              <%= link_to 'Products', admin_products_path, class: 'menu-item' %>
              <%= link_to 'Promotions', '#', class: 'menu-item' %>
            <% else %>
              <!-- Normal User Menu -->
              <%= link_to 'Products', products_path, class: 'menu-item' %>
              <%= link_to 'My Cart', basket_items_path, class: 'menu-item' %>
            <% end %>
            <%= form_with(url: destroy_user_session_path, method: :delete) do |form| %>
              <%= form.submit 'Logout', class: 'menu-item logout-button' %>
            <% end %>
        </div>
      <% end %>

    <div class="container">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
